<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Treasure Hunter</title>
	<script src="../static/gameSiteScript.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<span > Name: </span>
	<span style="color:blue" id="name"> </span>
	<p></p>
	<div id="high-score">
		<span> <u>High-Score : </u> </span>
		<span style="color:red" id="score"></span>
		<span>Life:</span>
		<span style="color:red" id="life"></span>
	
	</div>
	<span> Score:  </span>
	<span style="color:red; font-size:33px;" id="actual-score">  </span>
	
	
	<p id=gameover><p>
	<button id=newGameButton onclick="reLoading();"> New Game </button>
	
	
	<p></p>
	
	
	<div id="life-box">
		<span>Life: </span>
		<span id="actual-life"> 2 <span>
	</div>
	

	<!-- Table -->
	<div class="table"></div>
		<div class="row">
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
		</div>	
			<div class="row">
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
		</div>	
			<div class="row">
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
		</div>	
			<div class="row">
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
		</div>	
			<div class="row">
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
			<div class="square redCard"></div>
		</div>	
	

</body>
</html>